# Python Reference Guide

Need a quick reference guide to help you while you hack? This is no substitute for the actual course content, but here's a "cheatsheet" to help jog your memory!

## Handy Functions

In [1]:
print('This will print some text')

This will print some text

In [2]:
# Use string formatting ("f-strings") to insert values
name = 'Ryan'
f'My name is: {name}'

'My name is: Ryan'

In [3]:
# An iterable object containing sequential integers
range(0, 10)

# Iterate by steps of 2
range(0, 10, 2)

range(0, 10, 2)

In [4]:
# Returns the datatype of the value passed in
type(1)

int

## Math Operators

In [5]:
# Addition
1 + 1

2

In [6]:
# Subtraction
2 - 1

1

In [7]:
# Multiplication
5 * 5

25

In [8]:
# Division
25 / 5

5.0

In [9]:
# Exponents 
5 ** 3

125

In [10]:
# Modulus (remainder after division)
17 % 5

2

## Data Types

In [11]:
# Integers
x = 1
type(x)

int

In [12]:
# Floats
x = 1.0
type(x)

float

In [13]:
# Strings
x = 'Ryan'
type(x)

str

In [14]:
# Booleans
x = True
type(x)

bool

In [15]:
# Byte data
x = bytes(4)
type(x)

bytes

### Casting Datatypes

In [16]:
# String to integer
int('1')

1

In [17]:
# Float to integer
int(1.5)

1

In [18]:
# Integer to float
float(1)

1.0

In [19]:
# Integer to boolean
bool(1)

True

In [20]:
# String to boolean (Anything other than an empty string is True)
bool('')

False

In [21]:
# Int to string
str(1)

'1'

In [22]:
# String to bytes, requires the encoding
bytes('ðŸ™‚', 'utf-8')

b'\xf0\x9f\x99\x82'

## String Operators

In [23]:
# String concatenation
'Ryan ' + 'Mitchell'

'Ryan Mitchell'

In [24]:
# String multiplication
'Python'*6

'PythonPythonPythonPythonPythonPython'

In [25]:
# Access a particular character in a string
'Python'[3]

'h'

## Boolean Operators

In [26]:
# AND
print(True and True)
print(True and False)
print(False and False)

True
False
False

In [27]:
# OR
print(True or True)
print(True or False)
print(False or False)

True
True
False

In [28]:
# NOT 
print(not True)
print(not False)

False
True

In [29]:
# Equality operator
5 == 5

True

In [30]:
# Inequality operator
5 != 4

True

In [31]:
# Less than
4 < 5

True

In [32]:
# Less than or equals to 
5 <= 5

True

In [33]:
# Greater than
5 > 4

True

In [34]:
# Greater than or equals to
5 >= 5

True

## Control Flow

In [35]:
if False: 
    print('This does not print')
else: 
    print('This will print')

This will print

In [36]:
# Iterate through items in a range
for i in range(0, 5):
    print('Number: {}'.format(i))

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

In [37]:
# Iterate through items in a list
for i in [1,2,3,4,5]:
    print('Number: {}'.format(i))

Number: 1
Number: 2
Number: 3
Number: 4
Number: 5

In [38]:
i = 0
while i < 5:
    print('Number: {}'.format(i))
    i = i + 1

Number: 0
Number: 1
Number: 2
Number: 3
Number: 4

## Data Types

### Lists

In [39]:
aList = [1,2,3,4]
type(aList)

list

In [40]:
# Append item to a list
aList.append(5)
aList

[1, 2, 3, 4, 5]

In [41]:
# List concatenation
[1,2,3] + [4,5,6]

[1, 2, 3, 4, 5, 6]

In [42]:
# List multiplication
[1,2] * 5

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [43]:
# Accessing items in a list

aList = [1,2,3,4,5,6,7,8,9,10]
# Print the item at index 4
print(aList[4])

# Print the items at index 0, up to (not including) index 4
print(aList[0:4])

# If the first index is missing, it's assumed to be 0
print(aList[:4])

# If the last index is missing, it's assumed to go to the end of the list
print(aList[4:])

# Print every other item in the list
print(aList[::2])

# Print every third item in the list
print(aList[::3])

5
[1, 2, 3, 4]
[1, 2, 3, 4]
[5, 6, 7, 8, 9, 10]
[1, 3, 5, 7, 9]
[1, 4, 7, 10]

- A list is an unhashable type in Python because it is mutable, meaning that when its contents change, the hash value changes

- Only immutable types such as strings or tuples can be added directly to a set

### Dictionaries

In [44]:
aDict = {
    'one': 1,
    'two': 2,
    'three': 3,
}
# Add key/value pairs to dictionary
aDict['four'] = 4

# Access values by keys
print(aDict['one'])

1

In [45]:
# Print all keys
print(aDict.keys())

# Print all values
print(aDict.values())

# Print all key/value pairs
print(aDict.items())

dict_keys(['one', 'two', 'three', 'four'])
dict_values([1, 2, 3, 4])
dict_items([('one', 1), ('two', 2), ('three', 3), ('four', 4)])

### Sets

In [46]:
aSet = {1,2,3,4}

# Add an item to a set
aSet.add(5)

# Remove an item from a set
aSet.remove(2)
print(aSet)

{1, 3, 4, 5}

- Sets cannot have duplicates

- Sets are not subscriptable, so you cannot use the slicing syntax with it. An object is subscriptable if it contains elements
that can be accessed by an index

In [47]:
mySet = set()

In [48]:
mySet.add((2,34,7))

In [49]:
mySet.update([2,43,8])

In [50]:
mySet.clear()

In [51]:
mySet = {'Id','start_date','end_date','invoices','conversion'}

In [52]:
mySet

{'Id', 'conversion', 'end_date', 'invoices', 'start_date'}

In [53]:
mySet2 = set(('order_id','start_date','posting_date','grand_total'))

In [54]:
mySet1 = {'Id','start_date','end_date','invoices','conversion'}

In [55]:
mySet2

{'grand_total', 'order_id', 'posting_date', 'start_date'}

In [56]:
## add elements into the set
mySet1.add('homer')

In [57]:
mySet1

{'Id', 'conversion', 'end_date', 'homer', 'invoices', 'start_date'}

In [58]:
## add elements into the set
mySet1.update(['greener'])

In [59]:
mySet1

{'Id', 'conversion', 'end_date', 'greener', 'homer', 'invoices', 'start_date'}

In [60]:
## You can create a list from a set and a set from a list

In [61]:
myList = ['a','column','Column','column','b','b','B','t']
myList = list(set(myList))
myList

['Column', 'B', 't', 'a', 'column', 'b']

In [62]:
lset = set(myList)
lset

{'B', 'Column', 'a', 'b', 'column', 't'}

In [63]:
list(lset)

['Column', 'B', 'b', 't', 'column', 'a']

- Sets are unordered, keep that in mind

- We can have membership boolean operations in sets as well

In [64]:
'd' in mySet

False

In [65]:
'b' in mySet

False

In [66]:
'start_date' in mySet

True

- You can also use the length function with sets just like with lists

In [67]:
len(mySet)

5

In [68]:
## You can use the pop function to get elements from a set

while len(mySet):
    print(mySet.pop())

end_date
start_date
invoices
Id
conversion

In [69]:
mySet = set(('start_date', 'conversion', 'homer', 'greener', 'Id', 'invoices', 'end_date'))
mySet

{'Id', 'conversion', 'end_date', 'greener', 'homer', 'invoices', 'start_date'}

In [70]:
## Elements can be removed from a set completely

mySet.discard('greener')
mySet

{'Id', 'conversion', 'end_date', 'homer', 'invoices', 'start_date'}

In [71]:
## You can find what appears in one set and does not appear in the other set

In [72]:
mySet1

{'Id', 'conversion', 'end_date', 'greener', 'homer', 'invoices', 'start_date'}

In [73]:
mySet

{'Id', 'conversion', 'end_date', 'homer', 'invoices', 'start_date'}

In [74]:
mySet.symmetric_difference(mySet1)

{'greener'}

### Tuples

In [75]:
### Tuples are immutable objects in Python

In [76]:
# Tuples cannot be modified
aTuple = (1,2,3,4)
aTuple

(1, 2, 3, 4)

In [77]:
myTuple = ('e','g','k')
myTuple

('e', 'g', 'k')

In [78]:
len(myTuple)

3

In [79]:
def returnsMultiple():
    return 1,2,3

type(returnsMultiple())

tuple

- We can use this syntax in what is known as unpacking

In [80]:
a, b, c = returnsMultiple()
print(a)
print(b)
print(c)

1
2
3

## Dictionaries

In [81]:
animals = {
    'a': 'emu',
    'b': 'kudu',
    'c': 'walrus',
    'd': 'tiger', 
}
animals

{'a': 'emu', 'b': 'kudu', 'c': 'walrus', 'd': 'tiger'}

In [82]:
animals['a']

'emu'

In [83]:
## add elements into the dictionary

In [84]:
animals['f'] = 'Lion'
animals

{'a': 'emu', 'b': 'kudu', 'c': 'walrus', 'd': 'tiger', 'f': 'Lion'}

In [85]:
## Update values in the dictionary
animals['f'] = 'Elephant'

In [86]:
animals

{'a': 'emu', 'b': 'kudu', 'c': 'walrus', 'd': 'tiger', 'f': 'Elephant'}

In [87]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd', 'f'])

In [88]:
list(animals.keys())

['a', 'b', 'c', 'd', 'f']

In [89]:
animals.values()

dict_values(['emu', 'kudu', 'walrus', 'tiger', 'Elephant'])

In [90]:
## You can use .get() method  and a default value to check is a key exists

In [91]:
if animals.get('e',"NOT FOUND") == "NOT FOUND":
    print("Not found")

Not found

In [92]:
animals.keys()

dict_keys(['a', 'b', 'c', 'd', 'f'])

In [93]:
animals.get('b','NOT FOUND')

'kudu'

In [94]:
len(animals)

5

In [95]:
wild = {
    'ocean': ['Ocra','Dolphins','Walrus','Whales','Sharks'],
    'lake' : ['Tilapia','Salmon','Nile Pearch'],
    'rivers': ['Tuna'],
    'land': ['bear','lion'],
}
wild

{'ocean': ['Ocra', 'Dolphins', 'Walrus', 'Whales', 'Sharks'],
 'lake': ['Tilapia', 'Salmon', 'Nile Pearch'],
 'rivers': ['Tuna'],
 'land': ['bear', 'lion']}

In [96]:
wild['air'] = ['eagle']

In [97]:
wild

{'ocean': ['Ocra', 'Dolphins', 'Walrus', 'Whales', 'Sharks'],
 'lake': ['Tilapia', 'Salmon', 'Nile Pearch'],
 'rivers': ['Tuna'],
 'land': ['bear', 'lion'],
 'air': ['eagle']}

In [98]:
wild['air'].append('sea guls')

In [99]:
wild

{'ocean': ['Ocra', 'Dolphins', 'Walrus', 'Whales', 'Sharks'],
 'lake': ['Tilapia', 'Salmon', 'Nile Pearch'],
 'rivers': ['Tuna'],
 'land': ['bear', 'lion'],
 'air': ['eagle', 'sea guls']}

#### Default Dict

In [100]:
from collections import defaultdict

In [101]:
land = defaultdict(list)

In [102]:
land

defaultdict(list, {})

In [103]:
land['park'].append('Tree')

In [104]:
land['pond'].append(['duck','goose'])

In [105]:
dict(land)

{'park': ['Tree'], 'pond': [['duck', 'goose']]}

In [106]:
land

defaultdict(list, {'park': ['Tree'], 'pond': [['duck', 'goose']]})

### List comprehensions

In [107]:
myList = [1,2,3,5,6,7,8,9,10]
[item*item*item for item in myList]

[1, 8, 27, 125, 216, 343, 512, 729, 1000]

In [108]:
### List comprehensions can be used as filters

In [109]:
myList = list(range(100))
filteredList = [item for item in myList if item % 10 == 0]
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [110]:
[item for item in myList if item % 20 == 0]

[0, 20, 40, 60, 80]

In [111]:
even_numbers = [item for item in myList if item % 2 == 0]
odd_numbers = [item for item in myList if item % 2 != 0]

In [112]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [113]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

#### List comprehensions can be used with functions

In [114]:
myString = 'My name is Billy. I live in Nairobi'
myString.split('.')

['My name is Billy', ' I live in Nairobi']

In [115]:
myString.split()

['My', 'name', 'is', 'Billy.', 'I', 'live', 'in', 'Nairobi']

In [116]:
def cleanWord(word):
    return word.replace('.','').lower()

[cleanWord(word) for word in myString.split()]

['my', 'name', 'is', 'billy', 'i', 'live', 'in', 'nairobi']

In [117]:
def convertToLower(word):
    return word.lower()

In [118]:
xt = myString.replace('.','').split()
[convertToLower(word) for word in xt if len(word) > 1]

['my', 'name', 'is', 'billy', 'live', 'in', 'nairobi']

- We can also combine this with a conditional statement

In [119]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 6]

['my', 'name', 'is', 'billy', 'i', 'live', 'in']

In [120]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 6]

['my', 'name', 'is', 'billy', 'i', 'live', 'in']

#### Nested list comprehensions

In [121]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is', 'billy'], ['i', 'live', 'in', 'nairobi']]

In [122]:
[[cleanWord(word) for word in sentence.split()]  for sentence in myString.split('.')]

[['my', 'name', 'is', 'billy'], ['i', 'live', 'in', 'nairobi']]

In [123]:
[x + y for x in 'abc' for y in 'lmn']

['al', 'am', 'an', 'bl', 'bm', 'bn', 'cl', 'cm', 'cn']

In [124]:
[x for x in range(5) if x % 2 == 0 ]

[0, 2, 4]

In [125]:
[x + y for x in [0,1,2] for y in [100,120, 765]]

[100, 120, 765, 101, 121, 766, 102, 122, 767]

#### Dictionary comprehensions

In [126]:
animalList = [('a','aadvark'),('b', 'bear'),('c','cat'),('d','dog')]
animals_ = { item[0]: item[1] for item in animalList }
animals_

{'a': 'aadvark', 'b': 'bear', 'c': 'cat', 'd': 'dog'}

In [127]:
## There is a more elegant way of writing this piece of code:

In [128]:
animals_ = { key: value for key, value in animalList } ## the dictionary comprehension
animals_

{'a': 'aadvark', 'b': 'bear', 'c': 'cat', 'd': 'dog'}

In [129]:
players = [
            ('Barca','Messi','Suarez','Neymar'),
           ('Real Madrid','CR7','Bale','Vinicius','Jude')
          ]
teams = { team: players[:]  for team, *players  in players }
teams

{'Barca': ['Messi', 'Suarez', 'Neymar'],
 'Real Madrid': ['CR7', 'Bale', 'Vinicius', 'Jude']}

In [130]:
{item[0]: list(item[1:])  for item in players}

{'Barca': ['Messi', 'Suarez', 'Neymar'],
 'Real Madrid': ['CR7', 'Bale', 'Vinicius', 'Jude']}

In [131]:
{ key: tuple(value[:]) for key, *value in players}

{'Barca': ('Messi', 'Suarez', 'Neymar'),
 'Real Madrid': ('CR7', 'Bale', 'Vinicius', 'Jude')}

In [132]:
teams = { team : tuple(players[:]) for team, *players in players }
teams

{'Barca': ('Messi', 'Suarez', 'Neymar'),
 'Real Madrid': ('CR7', 'Bale', 'Vinicius', 'Jude')}

### Challenge

Write a function called "encodeString" that will encode a string like "AAAABBBCC" as a list of tuples
i.e [("A",4),("B",3),("C",2)] meaning that the string has 4 A's, 3B's and 2C's

In [133]:
def encodeString(stringVal):
    encodedList = []
    prevChar = stringVal[0]
    count = 0
    for char in stringVal:
        if prevChar != char:
            encodedList.append((prevChar, count))
            count = 0
        prevChar = char
        count = count + 1
    encodedList.append((prevChar, count))
    return encodedList

In [134]:
def decodeString(encodedList):
    decodeStr = ''
    for item in encodedList:
        decodeStr = decodeStr + item[0] * item[1]
    return decodeStr

In [135]:
string = "FHASDRRRRADDD"

In [136]:
y = encodeString(string)
decodeString(y)

'FHASDRRRRADDD'

In [137]:
list(range(101))[::-5]

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5,
 0]

In [138]:
print(list(range(101))[::-5])

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

In [139]:
for n in range(1, 101):
    if n % 15 ==0 :
        print("FizzBuz")
    elif n % 3 == 0:
        print("Buzz")
    else:
        print("Nothing")

Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
FizzBuz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
FizzBuz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
FizzBuz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
FizzBuz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
FizzBuz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
FizzBuz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing
Nothing
Buzz
Nothing

In [140]:
n = 3
print("Fizz" if n % 3 ==0 else n)

Fizz

##### Ternary operators

In [141]:
fizzBuzz = "Fizz" if n % 3 ==0 else n

In [142]:
fizzBuzz

'Fizz'

In [143]:
"Fizz" if n % 3 == 0 else "Buzz" if n % 5 == 0 else n

'Fizz'

In [144]:
["Fizz" if n % 3 == 0 else "Buzz" if n % 5 == 0 else n for n in range(1,101)]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'Fizz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'Fizz',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'Fizz',
 46,
 47,
 'Fizz',
 49,
 'Buzz',
 'Fizz',
 52,
 53,
 'Fizz',
 'Buzz',
 56,
 'Fizz',
 58,
 59,
 'Fizz',
 61,
 62,
 'Fizz',
 64,
 'Buzz',
 'Fizz',
 67,
 68,
 'Fizz',
 'Buzz',
 71,
 'Fizz',
 73,
 74,
 'Fizz',
 76,
 77,
 'Fizz',
 79,
 'Buzz',
 'Fizz',
 82,
 83,
 'Fizz',
 'Buzz',
 86,
 'Fizz',
 88,
 89,
 'Fizz',
 91,
 92,
 'Fizz',
 94,
 'Buzz',
 'Fizz',
 97,
 98,
 'Fizz',
 'Buzz']

#### While Loops

In [145]:
from datetime import datetime

In [146]:
datetime.now()

datetime.datetime(2024, 7, 22, 11, 46, 32, 683535)

In [147]:
datetime.now().second

32

In [148]:
a = 0; b = 10 ## initialized the a and b variables

while a < b:
    print(a, end=' ')
    a += 1
    continue

0 1 2 3 4 5 6 7 8 9

#### break, continue, pass and the Loop else

In Python: 
    
    - break Jumps out of the closest enclosing loop (past the entire loop statement)
    - continue Jumps to the top of the closest enclosing loop (to the loop's header line)
    - pass does nothing at ll, it's an empty statement placeholder
    - Loop else block runs if and only if the loop is exited normally i.e without hitting a break

break and continue statements can appear anywhere inside the while or for loop's body.

They are usually coded further nested in an if test to take an action in reponse to some condition.

In [149]:
x = 10 

while x:
    x = x - 1
    if x % 2 == 0: 
        print(x, end = ' ')

8 6 4 2 0

In [151]:
while True:
    name = input("Enter name ")
    name = name.lower()
    if name == 'stop': break
    age = input("Enter age: ")
    print("Hello", name.upper(), '=>', int(age) **2)

Enter name STop

In [152]:
print([x for x in range (0,101) if x % 2 ==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [153]:
print([x for x in range (0, 101) if x % 2 != 0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [154]:
n = 11
[x for x in range(2, 11) if n %x != 0]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [155]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
        return True

primes = []
for num in range(20):
    if is_prime(num):
        primes.append(num)
        
print(primes)

[5, 7, 9, 11, 13, 15, 17, 19]

In [160]:
def is_prime_no(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
        return True
    
primes = []
for num in range(50):
    if is_prime_no(num):
        primes.append(num)
        
print(primes)

[5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [161]:
y = 11

x = y//2

while x > 1:
    if y % x == 0:
        print("Not a prime number")
        break
    x -= 1
else:
    print(y,' is a prime number')

11  is a prime number

In [162]:
11//2

5

In [163]:
animalLookUp = {
    'a': ['bear','dog','tree'],
    'b' : ['cat'],
    'c' : ['Tiger','Wolf']
}

for letter, animals in animalLookUp.items():
    print(f"{letter} : {animals}")

a : ['bear', 'dog', 'tree']
b : ['cat']
c : ['Tiger', 'Wolf']

In [164]:
for letter, animals in animalLookUp.items():
    if len(animals) > 1:
        continue
    print(f'only one animal! {animals}')

only one animal! ['cat']

In [165]:
## break will stop at the first instance of a matched condition

for letter, animal in animalLookUp.items():
    if len(animals) > 1:
        print(f'Found {len(animals)} animals: {animals}')
        break

Found 2 animals: ['Tiger', 'Wolf']

#### For/Else

In [166]:
for number in range(2, 100):
    for factor in range(2, int(number ** 0.5) + 1):
        if number % factor == 0:
            break
    else:
        print(f'{ number} is prime !')

2 is prime !
3 is prime !
5 is prime !
7 is prime !
11 is prime !
13 is prime !
17 is prime !
19 is prime !
23 is prime !
29 is prime !
31 is prime !
37 is prime !
41 is prime !
43 is prime !
47 is prime !
53 is prime !
59 is prime !
61 is prime !
67 is prime !
71 is prime !
73 is prime !
79 is prime !
83 is prime !
89 is prime !
97 is prime !

In [167]:
['Monty Python' if n % 6 == 0 else 'Python' if n % 3 == 0 else 'Monty' if n % 2 == 0 else n for n in range(1, 10)]

[1, 'Monty', 'Python', 'Monty', 5, 'Monty Python', 7, 'Monty', 'Python']

In [168]:
for n in range(1,12):
    print(n)

1
2
3
4
5
6
7
8
9
10
11

In [169]:
for n in range(1,9):
    if n % 10 == 0:
        break
else:
    print("Test")

Test

## Functions

In [170]:
def performOperation(num1, num2, operation):
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    if operation == 'divide':
        return num1 / num2
    if operation == 'subtract':
        return num1 - num2
    
performOperation(6,7, 'sum')

13

### Named Parameters

#### Keyword arguments have to come after positional arguments in Python

In [171]:
def performOperation(num1, num2, operation = "sum", message="Default is sum"):
    print(message)
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    if operation == 'divide':
        return num1 / num2
    if operation == 'subtract':
        return num1 - num2
    
performOperation(6,7,operation = 'divide', message="A divide operation")

A divide operation

0.8571428571428571

#### After the positional arguments, the keyword arguments can be in any order

### *args

In [173]:
def performOperations(*args):
    print(args)
    
performOperations(1,2,3)

(1, 2, 3)

- *args are applicable for any unprecedented number of positional arguments

### **kwargs

In [174]:
def performOperations(*args, **kwargs):
    print(args)
    print(kwargs)
    
performOperations(1,2,3, operations=["sum","divide"])

(1, 2, 3)
{'operations': ['sum', 'divide']}

In [179]:
import math

In [182]:
y = 90
h = 97
math.remainder(y,h)

-7.0

In [186]:
def performMath(*args, operation = 'sum'):
    x = locals()
    print(args)
    print(x.items())
    if operation == 'sum':
        return sum(args)
    if operation == 'multiply':
        return math.prod(args)
    if operation == "subtract":
        return math.remainder(args)

In [187]:
performMath(2,4, operation="sum")

(2, 4)
dict_items([('operation', 'sum'), ('args', (2, 4))])

6

In [194]:
y = (90,8)
u = []
for i in y:
    u.append(i)
print(u)

[90, 8]

##### globals() and locals() can be used to get the local variables and global variables

- Python searches for variables in the local scope first before searching for it's definition in the global scope.

In [199]:
text = '''
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
'''

In [200]:
def lowercase(text):
    return text.lower()

def removePunctuation(text):
    punctuations = ['.','-','/','!',':',';','*']
    for punctuation in punctuations:
        text = text.replace(punctuation,'')
    return text

def removeNewLines(text):
    text  = text.replace('\n',' ')
    return text

def removeShortWords(text):
    return ' '.join([word for word in text.split() if len(word) > 3])

def removeLongWords(text):
    return ' '.join([word for word in text.split() if len(word) < 6])

In [201]:
processors = [lowercase, removePunctuation, removeNewLines,removeShortWords]
for func in processors:
    text = func(text)
print(text)

beautiful better than ugly explicit better than implicit simple better than complex complex better than complicated flat better than nested sparse better than dense readability counts special cases aren't special enough break rules although practicality beats purity errors should never pass silently unless explicitly silenced face ambiguity, refuse temptation guess there should preferably only obvious although that obvious first unless you're dutch better than never although never often better than right implementation hard explain, it's idea implementation easy explain, good idea namespaces honking great idea let's more those

In [202]:
def triangle(num):
    if num == 1:
        return num
    return num + triangle(num - 1) ## recursive function

In [203]:
triangle(3)

6

In [204]:
def square(num):
    if num == 1:
        return num
    return triangle(num) + triangle(num - 1)

In [205]:
square(5)

25

### Lambda functions

## Classes

In [206]:
class WordSet:
    def __init__(self):
        self.words = set()
        
    def addText(self, text):
        text = self.cleanText(text)
        for word in text.split():
            self.words.add(word)
            
        
    def cleanText(self,text):
        punctuations = [',','!','%',';','*','&','$','/','.']
        for punctuation in punctuations:
            text = text.replace(punctuation,'')
        return text.lower()

In [207]:
wordset = WordSet()
wordset.addText('This is KES. currency not & !')
wordset.addText('This is also a new current type! /')

In [208]:
wordset.words

{'a', 'also', 'currency', 'current', 'is', 'kes', 'new', 'not', 'this', 'type'}

In [209]:
class Dog:
    _legs = 4
    def __init__(self, name):
        self.name = name
        
    def  getLegs(self):
        return self._legs
    
    def speak(self):
        print(f'{self.name} says: Bark Bark!')
    
    
class Chihuahua(Dog): ## inheriting th parent class
    
    def __init__(self, name, hairy): ## add hairy as a parameter
        super().__init__(name) ## initialize with the parent class method first
        self.hairy = hairy
        
    def speak(self): ## extending methods of the parent class
        print(f'{ self.name} says: Yap Yap!')
        
    def wagTail(self):
        print('Vigorous tail wagging!')  
        
    def getHair(self):
        if self.hairy:
            print("Hairy Chihuahua")

In [210]:
rex = Chihuahua("Rex", True)

In [211]:
rex.getHair()

Hairy Chihuahua

In [212]:
class Shape:
    width = 5
    height = 4
    printChar  = "#"
    
    def printRow(self, i):
        raise NotImplementedError("Will be implelemented by child classes")
        
    def print(self):
        for i in range(self.width):
            self.printRow(i)

            
class Square(Shape):
    def printRow(self, i):
        print(self.printChar * self.width)
        
class Triangle(Shape):
    def printRow(self, i):
        print(self.printChar * (i + 1))
        
class Symetric(Shape):
    height = 5
    width = 2 * height
    def printRow(self, i):
        triangleWidth = i * 2 + 1
        padding = int((self.width - triangleWidth)/2)
        print(' '*padding + self.printChar * triangleWidth)

In [213]:
square = Square()
square.print()

#####
#####
#####
#####
#####

In [214]:
triangle = Triangle()
triangle.print()

#
##
###
####
#####

In [215]:
tri = Symetric()
tri.print()

    #
   ###
  #####
 #######
#########
###########
#############
###############
#################
###################

### Build Up On clas and functions

Code a function that is able to compute the **minimum** value from an arbitrary set of arguments
and an arbitrary set of object data types.

The function should accept zero or even more arguments.

The function should work with any kind of Python data types i.e String, list, numbers, dicts

In [216]:
def min1(*args):
    res = args[0]
    for arg in args[1:]:
        if arg < res:
            res = arg
    return res

In [217]:
min1(7,8,9,9)

7

In [218]:
def min2(first, *rest):
    for arg in rest:
        if arg < first:
            first = arg
    return first

In [219]:
def min3(*args):
    tmp = list(args)
    tmp.sort()
    return tmp[0]

In [220]:
min3(9,6,22,4)

4

In [221]:
def intersect(*args):
    res = [] ## initialize an empty list
    for x in args[0]:
        for other in args[1:]:
            if x not in other: 
                break
        else:
            res.append(x)
    return res

def union(*args):
    res = []
    for seq in args:
        for x in seq:
            if not x in res:
                res.append(x)
    return res

#### Recursive functions

In [222]:
def mySum(L):
    print(L)
    if not L:
        return 0
    else:
        return L[0] + mySum(L[1:])

In [223]:
L = [34,56,78]
mySum(L)

[34, 56, 78]
[56, 78]
[78]
[]

168

- Sometimes it's generally easier to use a loop i.e while or for loop instead of a recursive function

In [224]:
L = [3,5,6,7]
sum = 0
while L:
    sum += L[0]
    L = L[1:]
print(sum)

21

Recursive functions are good at handling arbitrary structures of data for example a nested list i.e:
    
    [1, 3, [45, 90, [8, 0, 7]], 9, 12, [1,2,3]]
   
In such a case, loops will not work because it's not a linear iteration.

In [225]:
def sumtree(L):
    total = 0 ## initialize the total
    for item in L: ## loop through the list object
        if not isinstance(item, list): ## check if item in the list is a list object
            total += item ## add it directly if it's not
        else:
            total += sumtree(item) ## call the function on the item if it's a list
    return total

In [226]:
L = [34,89, [9,7,33, [89,90]], 90, 78]
tots = sumtree(L)
print(tots)

519

##### write a code to unpack an arbitrarily nested list object into a single list object

In [227]:
def sortNested(L):
    res = [] ## empty list
    for x in L: 
        if not isinstance(x, list): ## check if the item is a list
            res.append(x)  ## add the item to res if it's not a list
        else:
            res.extend(sortNested(x)) ## .extend() method is used instead of .append() because it can flatten the iterable and add it to the list directly
    return sorted(res)

In [228]:
sortNested(L)

[7, 9, 33, 34, 78, 89, 89, 90, 90]

In [229]:
sortNested.__name__

'sortNested'

#### Lambda expressions:Anonymous functions

In [230]:
def func(x, y,z): 
    return x + y + z

func(8,9,8)

25

In [231]:
f = lambda x,y,z : x + y + z
f(8, 9,8)

25

- The f, is assigned the function object the lambda expression creates.

##### mapping functions over sequences

In [232]:
def inc(x):
    return x + 22

ls = [3,8,90]
list(map(inc, ls))

[25, 30, 112]

In [233]:
list(map(lambda x: x + 10, ls))

[13, 18, 100]

#### Filter and reduce

- filter: filters out items from a list o sequence based on a test function
- reduce : apply finctions to pairs of items and running results

For example, the filter below picks out items in a sequence that are greater than zero, both
require a list call to display their results:

In [234]:
list(filter((lambda x: x > 0), range(-5, 5)))

[1, 2, 3, 4]

- Reduce returns a single result and it's not an iterator itself

In [235]:
from functools import reduce

reduce((lambda x, y: x + y), [67, 90, 78])

235

 The __name__ and __main__ features

In [ ]:
def commas(N):
    """
    format positive integer-like N for display with commas between digit
    between digit groupings: xxx, yyy, zzz
    """
    digits = str(N)
    assert(digits.isdigit())
    result = ''
    while digits:
        digits, last3 = digits[:-3], digits[-3:]
        result = (last3 + ',' +result) if result else last3
    return result

def money(N, width = 0):
    """
    format number N for display with commas, 3 decimal digits,
    leading $ and sign, and optional: $ -xxx,yyy.zz 
    """
    sign = '-' if N < 0 else ''
    N = abs(N)
    whole = commas(int(N))
    fract = ('%.2f' % N)[-2:]
    format = '%s%s.%s' %  (sign, whole, frac)
    return '$%s' % (width, format)

In [240]:
tr = 9861245
tr = str(tr)

In [244]:
tr[:-3] + ',' + tr[-3:]

'9861,245'

In [256]:
y = [4,7,9,0]

In [267]:
tr[:-3], tr[-3:]

('9861', '245')

#### -- Module Coding Gotchas

- Code at the top level of a module file (not nested in a function) runs as soon as Python reached it during
an import; because of that, **it can't reference names assigned lower in the file.**

- Code inside a function body doesn't run until the function is called.