# Python Reference Guide

Need a quick reference guide to help you while you hack? This is no substitute for the actual course content, but here's a "cheatsheet" to help jog your memory!

## Handy Functions

In [ ]:
print('This will print some text')

In [ ]:
# Use string formatting ("f-strings") to insert values
name = 'Ryan'
f'My name is: {name}'

In [ ]:
# An iterable object containing sequential integers
range(0, 10)

# Iterate by steps of 2
range(0, 10, 2)

In [ ]:
# Returns the datatype of the value passed in
type(1)

## Math Operators

In [ ]:
# Addition
1 + 1

In [ ]:
# Subtraction
2 - 1

In [ ]:
# Multiplication
5 * 5

In [ ]:
# Division
25 / 5

In [ ]:
# Exponents 
5 ** 3

In [ ]:
# Modulus (remainder after division)
17 % 5

## Data Types

In [ ]:
# Integers
x = 1
type(x)

In [ ]:
# Floats
x = 1.0
type(x)

In [ ]:
# Strings
x = 'Ryan'
type(x)

In [ ]:
# Booleans
x = True
type(x)

In [ ]:
# Byte data
x = bytes(4)
type(x)

### Casting Datatypes

In [ ]:
# String to integer
int('1')

In [ ]:
# Float to integer
int(1.5)

In [ ]:
# Integer to float
float(1)

In [ ]:
# Integer to boolean
bool(1)

In [ ]:
# String to boolean (Anything other than an empty string is True)
bool('')

In [ ]:
# Int to string
str(1)

In [ ]:
# String to bytes, requires the encoding
bytes('ðŸ™‚', 'utf-8')

## String Operators

In [ ]:
# String concatenation
'Ryan ' + 'Mitchell'

In [ ]:
# String multiplication
'Python'*6

In [ ]:
# Access a particular character in a string
'Python'[3]

## Boolean Operators

In [ ]:
# AND
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# OR
print(True or True)
print(True or False)
print(False or False)

In [ ]:
# NOT 
print(not True)
print(not False)

In [ ]:
# Equality operator
5 == 5

In [ ]:
# Inequality operator
5 != 4

In [ ]:
# Less than
4 < 5

In [ ]:
# Less than or equals to 
5 <= 5

In [ ]:
# Greater than
5 > 4

In [ ]:
# Greater than or equals to
5 >= 5

## Control Flow

In [ ]:
if False: 
    print('This does not print')
else: 
    print('This will print')

In [ ]:
# Iterate through items in a range
for i in range(0, 5):
    print('Number: {}'.format(i))

In [ ]:
# Iterate through items in a list
for i in [1,2,3,4,5]:
    print('Number: {}'.format(i))

In [ ]:
i = 0
while i < 5:
    print('Number: {}'.format(i))
    i = i + 1

## Data Types

### Lists

In [ ]:
aList = [1,2,3,4]
type(aList)

In [ ]:
# Append item to a list
aList.append(5)
aList

In [ ]:
# List concatenation
[1,2,3] + [4,5,6]

In [ ]:
# List multiplication
[1,2] * 5

In [ ]:
# Accessing items in a list

aList = [1,2,3,4,5,6,7,8,9,10]
# Print the item at index 4
print(aList[4])

# Print the items at index 0, up to (not including) index 4
print(aList[0:4])

# If the first index is missing, it's assumed to be 0
print(aList[:4])

# If the last index is missing, it's assumed to go to the end of the list
print(aList[4:])

# Print every other item in the list
print(aList[::2])

# Print every third item in the list
print(aList[::3])

- A list is an unhashable type in Python because it is mutable, meaning that when its contents change, the hash value changes

- Only immutable types such as strings or tuples can be added directly to a set

### Dictionaries

In [ ]:
aDict = {
    'one': 1,
    'two': 2,
    'three': 3,
}
# Add key/value pairs to dictionary
aDict['four'] = 4

# Access values by keys
print(aDict['one'])

In [ ]:
# Print all keys
print(aDict.keys())

# Print all values
print(aDict.values())

# Print all key/value pairs
print(aDict.items())

### Sets

In [ ]:
aSet = {1,2,3,4}

# Add an item to a set
aSet.add(5)

# Remove an item from a set
aSet.remove(2)
print(aSet)

- Sets cannot have duplicates

- Sets are not subscriptable, so you cannot use the slicing syntax with it. An object is subscriptable if it contains elements
that can be accessed by an index

In [ ]:
mySet = set()

In [ ]:
mySet.add((2,34,7))

In [ ]:
mySet.update([2,43,8])

In [ ]:
mySet.clear()

In [ ]:
mySet = {'Id','start_date','end_date','invoices','conversion'}

In [ ]:
mySet

In [ ]:
mySet2 = set(('order_id','start_date','posting_date','grand_total'))

In [ ]:
mySet1 = {'Id','start_date','end_date','invoices','conversion'}

In [ ]:
mySet2

In [ ]:
## add elements into the set
mySet1.add('homer')

In [ ]:
mySet1

In [ ]:
## add elements into the set
mySet1.update(['greener'])

In [ ]:
mySet1

In [ ]:
## You can create a list from a set and a set from a list

In [ ]:
myList = ['a','column','Column','column','b','b','B','t']
myList = list(set(myList))
myList

In [ ]:
lset = set(myList)
lset

In [ ]:
list(lset)

- Sets are unordered, keep that in mind

- We can have membership boolean operations in sets as well

In [ ]:
'd' in mySet

In [ ]:
'b' in mySet

In [ ]:
'start_date' in mySet

- You can also use the length function with sets just like with lists

In [ ]:
len(mySet)

In [ ]:
## You can use the pop function to get elements from a set

while len(mySet):
    print(mySet.pop())

In [ ]:
mySet = set(('start_date', 'conversion', 'homer', 'greener', 'Id', 'invoices', 'end_date'))
mySet

In [ ]:
## Elements can be removed from a set completely

mySet.discard('greener')
mySet

In [ ]:
## You can find what appears in one set and does not appear in the other set

In [ ]:
mySet1

In [ ]:
mySet

In [ ]:
mySet.symmetric_difference(mySet1)

### Tuples

In [ ]:
### Tuples are immutable objects in Python

In [ ]:
# Tuples cannot be modified
aTuple = (1,2,3,4)
aTuple

In [ ]:
myTuple = ('e','g','k')
myTuple

In [ ]:
len(myTuple)

In [ ]:
def returnsMultiple():
    return 1,2,3

type(returnsMultiple())

- We can use this syntax in what is known as unpacking

In [ ]:
a, b, c = returnsMultiple()
print(a)
print(b)
print(c)

## Dictionaries

In [ ]:
animals = {
    'a': 'emu',
    'b': 'kudu',
    'c': 'walrus',
    'd': 'tiger', 
}
animals

In [ ]:
animals['a']

In [ ]:
## add elements into the dictionary

In [ ]:
animals['f'] = 'Lion'
animals

In [ ]:
## Update values in the dictionary
animals['f'] = 'Elephant'

In [ ]:
animals

In [ ]:
animals.keys()

In [ ]:
list(animals.keys())

In [ ]:
animals.values()

In [ ]:
## You can use .get() method  and a default value to check is a key exists

In [ ]:
if animals.get('e',"NOT FOUND") == "NOT FOUND":
    print("Not found")

In [ ]:
animals.keys()

In [ ]:
animals.get('b','NOT FOUND')

In [ ]:
len(animals)

In [ ]:
wild = {
    'ocean': ['Ocra','Dolphins','Walrus','Whales','Sharks'],
    'lake' : ['Tilapia','Salmon','Nile Pearch'],
    'rivers': ['Tuna'],
    'land': ['bear','lion'],
}
wild

In [ ]:
wild['air'] = ['eagle']

In [ ]:
wild

In [ ]:
wild['air'].append('sea guls')

In [ ]:
wild

#### Default Dict

In [1]:
from collections import defaultdict

In [2]:
land = defaultdict(list)

In [3]:
land

defaultdict(list, {})

In [4]:
land['park'].append('Tree')

In [5]:
land['pond'].append(['duck','goose'])

In [6]:
dict(land)

{'park': ['Tree'], 'pond': [['duck', 'goose']]}

In [7]:
land

defaultdict(list, {'park': ['Tree'], 'pond': [['duck', 'goose']]})

### List comprehensions

In [8]:
myList = [1,2,3,5,6,7,8,9,10]
[item*item*item for item in myList]

[1, 8, 27, 125, 216, 343, 512, 729, 1000]

In [9]:
### List comprehensions can be used as filters

In [10]:
myList = list(range(100))
filteredList = [item for item in myList if item % 10 == 0]
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [15]:
[item for item in myList if item % 20 == 0]

[0, 20, 40, 60, 80]

In [163]:
even_numbers = [item for item in myList if item % 2 == 0]
odd_numbers = [item for item in myList if item % 2 != 0]

In [166]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [168]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

#### List comprehensions can be used with functions

In [17]:
myString = 'My name is Billy. I live in Nairobi'
myString.split('.')

['My name is Billy', ' I live in Nairobi']

In [18]:
myString.split()

['My', 'name', 'is', 'Billy.', 'I', 'live', 'in', 'Nairobi']

In [19]:
def cleanWord(word):
    return word.replace('.','').lower()

[cleanWord(word) for word in myString.split()]

['my', 'name', 'is', 'billy', 'i', 'live', 'in', 'nairobi']

In [25]:
def convertToLower(word):
    return word.lower()

In [26]:
xt = myString.replace('.','').split()
[convertToLower(word) for word in xt if len(word) > 1]

['my', 'name', 'is', 'billy', 'live', 'in', 'nairobi']

- We can also combine this with a conditional statement

In [20]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 6]

['my', 'name', 'is', 'billy', 'i', 'live', 'in']

In [21]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 6]

['my', 'name', 'is', 'billy', 'i', 'live', 'in']

#### Nested list comprehensions

In [183]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is', 'billy'], ['i', 'live', 'in', 'nairobi']]

In [28]:
[[cleanWord(word) for word in sentence.split()]  for sentence in myString.split('.')]

[['my', 'name', 'is', 'billy'], ['i', 'live', 'in', 'nairobi']]

In [29]:
[x + y for x in 'abc' for y in 'lmn']

['al', 'am', 'an', 'bl', 'bm', 'bn', 'cl', 'cm', 'cn']

In [30]:
[x for x in range(5) if x % 2 == 0 ]

[0, 2, 4]

In [31]:
[x + y for x in [0,1,2] for y in [100,120, 765]]

[100, 120, 765, 101, 121, 766, 102, 122, 767]

#### Dictionary comprehensions

In [32]:
animalList = [('a','aadvark'),('b', 'bear'),('c','cat'),('d','dog')]
animals_ = { item[0]: item[1] for item in animalList }
animals_

{'a': 'aadvark', 'b': 'bear', 'c': 'cat', 'd': 'dog'}

In [33]:
## There is a more elegant way of writing this piece of code:

In [34]:
animals_ = { key: value for key, value in animalList } ## the dictionary comprehension
animals_

{'a': 'aadvark', 'b': 'bear', 'c': 'cat', 'd': 'dog'}

In [35]:
players = [
            ('Barca','Messi','Suarez','Neymar'),
           ('Real Madrid','CR7','Bale','Vinicius','Jude')
          ]
teams = { team: players[:]  for team, *players  in players }
teams

{'Barca': ['Messi', 'Suarez', 'Neymar'],
 'Real Madrid': ['CR7', 'Bale', 'Vinicius', 'Jude']}

In [37]:
{item[0]: list(item[1:])  for item in players}

{'Barca': ['Messi', 'Suarez', 'Neymar'],
 'Real Madrid': ['CR7', 'Bale', 'Vinicius', 'Jude']}

In [39]:
{ key: tuple(value[:]) for key, *value in players}

{'Barca': ('Messi', 'Suarez', 'Neymar'),
 'Real Madrid': ('CR7', 'Bale', 'Vinicius', 'Jude')}

In [206]:
teams = { team : tuple(players[:]) for team, *players in players }
teams

{'Barca': ('Messi', 'Suarez', 'Neymar'),
 'Real Madrid': ('CR7', 'Bale', 'Vinicius')}

### Challenge

Write a function called "encodeString" that will encode a string like "AAAABBBCC" as a list of tuples
i.e [("A",4),("B",3),("C",2)] meaning that the string has 4 A's, 3B's and 2C's

In [49]:
def encodeString(stringVal):
    encodedList = []
    prevChar = stringVal[0]
    count = 0
    for char in stringVal:
        if prevChar != char:
            encodedList.append((prevChar, count))
            count = 0
        prevChar = char
        count = count + 1
    encodedList.append((prevChar, count))
    return encodedList

In [50]:
def decodeString(encodedList):
    decodeStr = ''
    for item in encodedList:
        decodeStr = decodeStr + item[0] * item[1]
    return decodeStr

In [51]:
string = "FHASDRRRRADDD"

In [54]:
y = encodeString(string)
decodeString(y)

'FHASDRRRRADDD'

In [57]:
list(range(101))[::-5]

[100,
 95,
 90,
 85,
 80,
 75,
 70,
 65,
 60,
 55,
 50,
 45,
 40,
 35,
 30,
 25,
 20,
 15,
 10,
 5,
 0]

In [61]:
print(list(range(101))[::-5])

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15, 10, 5, 0]

In [ ]:
for n in range(1, 101):
    if n % 15 ==0 :
        print("FizzBuz")
    elif n % 3 == 0:
        print("Buzz")
    else:
        print("Nothing")

In [64]:
n = 3
print("Fizz" if n % 3 ==0 else n)

Fizz

##### Ternary operators

In [65]:
fizzBuzz = "Fizz" if n % 3 ==0 else n

In [66]:
fizzBuzz

'Fizz'

In [67]:
"Fizz" if n % 3 == 0 else "Buzz" if n % 5 == 0 else n

'Fizz'

In [68]:
["Fizz" if n % 3 == 0 else "Buzz" if n % 5 == 0 else n for n in range(1,101)]

[1,
 2,
 'Fizz',
 4,
 'Buzz',
 'Fizz',
 7,
 8,
 'Fizz',
 'Buzz',
 11,
 'Fizz',
 13,
 14,
 'Fizz',
 16,
 17,
 'Fizz',
 19,
 'Buzz',
 'Fizz',
 22,
 23,
 'Fizz',
 'Buzz',
 26,
 'Fizz',
 28,
 29,
 'Fizz',
 31,
 32,
 'Fizz',
 34,
 'Buzz',
 'Fizz',
 37,
 38,
 'Fizz',
 'Buzz',
 41,
 'Fizz',
 43,
 44,
 'Fizz',
 46,
 47,
 'Fizz',
 49,
 'Buzz',
 'Fizz',
 52,
 53,
 'Fizz',
 'Buzz',
 56,
 'Fizz',
 58,
 59,
 'Fizz',
 61,
 62,
 'Fizz',
 64,
 'Buzz',
 'Fizz',
 67,
 68,
 'Fizz',
 'Buzz',
 71,
 'Fizz',
 73,
 74,
 'Fizz',
 76,
 77,
 'Fizz',
 79,
 'Buzz',
 'Fizz',
 82,
 83,
 'Fizz',
 'Buzz',
 86,
 'Fizz',
 88,
 89,
 'Fizz',
 91,
 92,
 'Fizz',
 94,
 'Buzz',
 'Fizz',
 97,
 98,
 'Fizz',
 'Buzz']

#### While Loops

In [69]:
from datetime import datetime

In [70]:
datetime.now()

datetime.datetime(2024, 7, 13, 9, 16, 44, 428801)

In [71]:
datetime.now().second

56

In [79]:
a = 0; b = 10 ## initialized the a and b variables

while a < b:
    print(a, end=' ')
    a += 1
    continue

0 1 2 3 4 5 6 7 8 9

#### break, continue, pass and the Loop else

In Python: 
    
    - break Jumps out of the closest enclosing loop (past the entire loop statement)
    - continue Jumps to the top of the closest enclosing loop (to the loop's header line)
    - pass does nothing at ll, it's an empty statement placeholder
    - Loop else block runs if and only if the loop is exited normally i.e without hitting a break

break and continue statements can appear anywhere inside the while or for loop's body.

They are usually coded further nested in an if test to take an action in reponse to some condition.

In [86]:
x = 10 

while x:
    x = x - 1
    if x % 2 == 0: 
        print(x, end = ' ')

8 6 4 2 0

In [91]:
while True:
    name = input("Enter name ")
    name = name.lower()
    if name == 'stop': break
    age = input("Enter age: ")
    print("Hello", name.upper(), '=>', int(age) **2)

Enter name SToP

In [93]:
print([x for x in range (0,101) if x % 2 ==0])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [94]:
print([x for x in range (0, 101) if x % 2 != 0])

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [101]:
n = 11
[x for x in range(2, 11) if n %x != 0]

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [104]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
        return True

primes = []
for num in range(20):
    if is_prime(num):
        primes.append(num)
        
print(primes)

[5, 7, 9, 11, 13, 15, 17, 19]

In [111]:
y = 11

x = y//2

while x > 1:
    if y % x == 0:
        print("Not a prime number")
        break
    x -= 1
else:
    print(y,' is a prime number')

11  is a prime number

In [108]:
11//2

5

In [112]:
animalLookUp = {
    'a': ['bear','dog','tree'],
    'b' : ['cat'],
    'c' : ['Tiger','Wolf']
}

for letter, animals in animalLookUp.items():
    print(f"{letter} : {animals}")

a : ['bear', 'dog', 'tree']
b : ['cat']
c : ['Tiger', 'Wolf']

In [117]:
for letter, animals in animalLookUp.items():
    if len(animals) > 1:
        continue
    print(f'only one animal! {animals}')

only one animal! ['cat']

In [119]:
## break will stop at the first instance of a matched condition

for letter, animal in animalLookUp.items():
    if len(animals) > 1:
        print(f'Found {len(animals)} animals: {animals}')
        break

Found 2 animals: ['Tiger', 'Wolf']

#### For/Else

In [120]:
for number in range(2, 100):
    for factor in range(2, int(number ** 0.5) + 1):
        if number % factor == 0:
            break
    else:
        print(f'{ number} is prime !')

2 is prime !
3 is prime !
5 is prime !
7 is prime !
11 is prime !
13 is prime !
17 is prime !
19 is prime !
23 is prime !
29 is prime !
31 is prime !
37 is prime !
41 is prime !
43 is prime !
47 is prime !
53 is prime !
59 is prime !
61 is prime !
67 is prime !
71 is prime !
73 is prime !
79 is prime !
83 is prime !
89 is prime !
97 is prime !

In [122]:
['Monty Python' if n % 6 == 0 else 'Python' if n % 3 == 0 else 'Monty' if n % 2 == 0 else n for n in range(1, 10)]

[1, 'Monty', 'Python', 'Monty', 5, 'Monty Python', 7, 'Monty', 'Python']

In [125]:
for n in range(1,12):
    print(n)

1
2
3
4
5
6
7
8
9
10
11

In [131]:
for n in range(1,9):
    if n % 10 == 0:
        break
else:
    print("Test")

Test

## Functions

In [132]:
def performOperation(num1, num2, operation):
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    if operation == 'divide':
        return num1 / num2
    if operation == 'subtract':
        return num1 - num2
    
performOperation(6,7, 'sum')

13

### Named Parameters

#### Keyword arguments have to come after positional arguments in Python

In [134]:
def performOperation(num1, num2, operation = "sum", message="Default is sum"):
    print(message)
    if operation == 'sum':
        return num1 + num2
    if operation == 'multiply':
        return num1 * num2
    if operation == 'divide':
        return num1 / num2
    if operation == 'subtract':
        return num1 - num2
    
performOperation(6,7,operation = 'divide', message="A divide operation")

A divide operation

0.8571428571428571

#### After the positional arguments, the keyword arguments can be in any order

### *args

In [136]:
def performOperations(*args):
    print(args)
    
performOperations(1,2,3)

(1, 2, 3)

- *args are applicable for any unprecedented number of positional arguments

### **kwargs

In [137]:
def performOperations(*args, **kwargs):
    print(args)
    print(kwargs)
    
performOperations(1,2,3, operations=["sum","divide"])

(1, 2, 3)
{'operations': ['sum', 'divide']}

In [138]:
import math

In [148]:
def performMath(*args, operation = 'sum'):
    x = locals()
    print(x.items())
    if operation == 'sum':
        return sum(args)
    if operation == 'multiply':
        return math.prod(args)

In [149]:
performMath(2,4,5,6, operation="multiply")

dict_items([('operation', 'multiply'), ('args', (2, 4, 5, 6))])

240

##### globals() and locals() can be used to get the local variables and global variables

- Python searches for variables in the local scope first before searching for it's definition in the global scope.

In [152]:
text = '''
Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
'''

In [153]:
def lowercase(text):
    return text.lower()

def removePunctuation(text):
    punctuations = ['.','-','/','!',':',';','*']
    for punctuation in punctuations:
        text = text.replace(punctuation,'')
    return text

def removeNewLines(text):
    text  = text.replace('\n',' ')
    return text

def removeShortWords(text):
    return ' '.join([word for word in text.split() if len(word) > 3])

def removeLongWords(text):
    return ' '.join([word for word in text.split() if len(word) < 6])

In [155]:
processors = [lowercase, removePunctuation, removeNewLines,removeShortWords]
for func in processors:
    text = func(text)
print(text)

beautiful better than ugly explicit better than implicit simple better than complex complex better than complicated flat better than nested sparse better than dense readability counts special cases aren't special enough break rules although practicality beats purity errors should never pass silently unless explicitly silenced face ambiguity, refuse temptation guess there should preferably only obvious although that obvious first unless you're dutch better than never although never often better than right implementation hard explain, it's idea implementation easy explain, good idea namespaces honking great idea let's more those

In [166]:
def triangle(num):
    if num == 1:
        return num
    return num + triangle(num - 1) ## recursive function

In [165]:
triangle(3)

6

In [179]:
def square(num):
    if num == 1:
        return num
    return triangle(num) + triangle(num - 1)

In [181]:
square(5)

25

### Lambda functions

## Classes

In [8]:
class WordSet:
    def __init__(self):
        self.words = set()
        
    def addText(self, text):
        text = self.cleanText(text)
        for word in text.split():
            self.words.add(word)
            
        
    def cleanText(self,text):
        punctuations = [',','!','%',';','*','&','$','/','.']
        for punctuation in punctuations:
            text = text.replace(punctuation,'')
        return text.lower()

In [10]:
wordset = WordSet()
wordset.addText('This is KES. currency not & !')
wordset.addText('This is also a new current type! /')

In [12]:
wordset.words

{'a', 'also', 'currency', 'current', 'is', 'kes', 'new', 'not', 'this', 'type'}

In [ ]:
# A simple class with one attribute and one method
class ParentClass:
    def __init__(self, val):
        self.val = val
        
    def printVal(self):
        print(self.val)
        

classInstance = ParentClass('Value for the class attribute "val"')
classInstance.printVal()

In [ ]:
# Extend the parent class to create a child class        
class ChildClass(parentClass):
    
    def printVal(self):
        print('Child class! {}'.format(self.val))
        
childInstance = ChildClass('Value for the class attribute "val"')
childInstance.printVal()

In [ ]:
# Overriding the parent class constructor
class AnotherChildClass(parentClass):
    def __init__(self):
        super().__init__('A default value')
        
anotherChildInstance = AnotherChildClass()
anotherChildInstance.printVal()

## File Handling

In [ ]:
# Open a file for reading
with open('09_01_file.txt', 'r') as f:
    data = f.readlines()
print(data)

In [ ]:
with open('test.txt', 'w') as f:
    f.write('Writing a new line\n')

In [ ]:
with open('test.txt', 'a') as f:
    f.write('Adding a new line to the last one\n')