# Python Reference Guide

Need a quick reference guide to help you while you hack? This is no substitute for the actual course content, but here's a "cheatsheet" to help jog your memory!

## Handy Functions

In [ ]:
print('This will print some text')

In [ ]:
# Use string formatting ("f-strings") to insert values
name = 'Ryan'
f'My name is: {name}'

In [ ]:
# An iterable object containing sequential integers
range(0, 10)

# Iterate by steps of 2
range(0, 10, 2)

In [ ]:
# Returns the datatype of the value passed in
type(1)

## Math Operators

In [ ]:
# Addition
1 + 1

In [ ]:
# Subtraction
2 - 1

In [ ]:
# Multiplication
5 * 5

In [ ]:
# Division
25 / 5

In [ ]:
# Exponents 
5 ** 3

In [ ]:
# Modulus (remainder after division)
17 % 5

## Data Types

In [ ]:
# Integers
x = 1
type(x)

In [ ]:
# Floats
x = 1.0
type(x)

In [ ]:
# Strings
x = 'Ryan'
type(x)

In [ ]:
# Booleans
x = True
type(x)

In [ ]:
# Byte data
x = bytes(4)
type(x)

### Casting Datatypes

In [ ]:
# String to integer
int('1')

In [ ]:
# Float to integer
int(1.5)

In [ ]:
# Integer to float
float(1)

In [ ]:
# Integer to boolean
bool(1)

In [ ]:
# String to boolean (Anything other than an empty string is True)
bool('')

In [ ]:
# Int to string
str(1)

In [ ]:
# String to bytes, requires the encoding
bytes('ðŸ™‚', 'utf-8')

## String Operators

In [ ]:
# String concatenation
'Ryan ' + 'Mitchell'

In [ ]:
# String multiplication
'Python'*6

In [ ]:
# Access a particular character in a string
'Python'[3]

## Boolean Operators

In [ ]:
# AND
print(True and True)
print(True and False)
print(False and False)

In [ ]:
# OR
print(True or True)
print(True or False)
print(False or False)

In [ ]:
# NOT 
print(not True)
print(not False)

In [ ]:
# Equality operator
5 == 5

In [ ]:
# Inequality operator
5 != 4

In [ ]:
# Less than
4 < 5

In [ ]:
# Less than or equals to 
5 <= 5

In [ ]:
# Greater than
5 > 4

In [ ]:
# Greater than or equals to
5 >= 5

## Control Flow

In [ ]:
if False: 
    print('This does not print')
else: 
    print('This will print')

In [ ]:
# Iterate through items in a range
for i in range(0, 5):
    print('Number: {}'.format(i))

In [ ]:
# Iterate through items in a list
for i in [1,2,3,4,5]:
    print('Number: {}'.format(i))

In [ ]:
i = 0
while i < 5:
    print('Number: {}'.format(i))
    i = i + 1

## Data Types

### Lists

In [ ]:
aList = [1,2,3,4]
type(aList)

In [ ]:
# Append item to a list
aList.append(5)
aList

In [ ]:
# List concatenation
[1,2,3] + [4,5,6]

In [ ]:
# List multiplication
[1,2] * 5

In [ ]:
# Accessing items in a list

aList = [1,2,3,4,5,6,7,8,9,10]
# Print the item at index 4
print(aList[4])

# Print the items at index 0, up to (not including) index 4
print(aList[0:4])

# If the first index is missing, it's assumed to be 0
print(aList[:4])

# If the last index is missing, it's assumed to go to the end of the list
print(aList[4:])

# Print every other item in the list
print(aList[::2])

# Print every third item in the list
print(aList[::3])

- A list is an unhashable type in Python because it is mutable, meaning that when its contents change, the hash value changes

- Only immutable types such as strings or tuples can be added directly to a set

### Dictionaries

In [ ]:
aDict = {
    'one': 1,
    'two': 2,
    'three': 3,
}
# Add key/value pairs to dictionary
aDict['four'] = 4

# Access values by keys
print(aDict['one'])

In [ ]:
# Print all keys
print(aDict.keys())

# Print all values
print(aDict.values())

# Print all key/value pairs
print(aDict.items())

### Sets

In [ ]:
aSet = {1,2,3,4}

# Add an item to a set
aSet.add(5)

# Remove an item from a set
aSet.remove(2)
print(aSet)

- Sets cannot have duplicates

- Sets are not subscriptable, so you cannot use the slicing syntax with it. An object is subscriptable if it contains elements
that can be accessed by an index

In [ ]:
mySet = set()

In [ ]:
mySet.add((2,34,7))

In [ ]:
mySet.update([2,43,8])

In [ ]:
mySet.clear()

In [ ]:
mySet = {'Id','start_date','end_date','invoices','conversion'}

In [ ]:
mySet

In [ ]:
mySet2 = set(('order_id','start_date','posting_date','grand_total'))

In [ ]:
mySet1 = {'Id','start_date','end_date','invoices','conversion'}

In [ ]:
mySet2

In [ ]:
## add elements into the set
mySet1.add('homer')

In [ ]:
mySet1

In [ ]:
## add elements into the set
mySet1.update(['greener'])

In [ ]:
mySet1

In [ ]:
## You can create a list from a set and a set from a list

In [ ]:
myList = ['a','column','Column','column','b','b','B','t']
myList = list(set(myList))
myList

In [ ]:
lset = set(myList)
lset

In [ ]:
list(lset)

- Sets are unordered, keep that in mind

- We can have membership boolean operations in sets as well

In [ ]:
'd' in mySet

In [ ]:
'b' in mySet

In [ ]:
'start_date' in mySet

- You can also use the length function with sets just like with lists

In [ ]:
len(mySet)

In [ ]:
## You can use the pop function to get elements from a set

while len(mySet):
    print(mySet.pop())

In [ ]:
mySet = set(('start_date', 'conversion', 'homer', 'greener', 'Id', 'invoices', 'end_date'))
mySet

In [ ]:
## Elements can be removed from a set completely

mySet.discard('greener')
mySet

In [ ]:
## You can find what appears in one set and does not appear in the other set

In [ ]:
mySet1

In [ ]:
mySet

In [ ]:
mySet.symmetric_difference(mySet1)

### Tuples

In [ ]:
### Tuples are immutable objects in Python

In [ ]:
# Tuples cannot be modified
aTuple = (1,2,3,4)
aTuple

In [ ]:
myTuple = ('e','g','k')
myTuple

In [ ]:
len(myTuple)

In [ ]:
def returnsMultiple():
    return 1,2,3

type(returnsMultiple())

- We can use this syntax in what is known as unpacking

In [ ]:
a, b, c = returnsMultiple()
print(a)
print(b)
print(c)

## Dictionaries

In [ ]:
animals = {
    'a': 'emu',
    'b': 'kudu',
    'c': 'walrus',
    'd': 'tiger', 
}
animals

In [ ]:
animals['a']

In [ ]:
## add elements into the dictionary

In [ ]:
animals['f'] = 'Lion'
animals

In [ ]:
## Update values in the dictionary
animals['f'] = 'Elephant'

In [ ]:
animals

In [ ]:
animals.keys()

In [ ]:
list(animals.keys())

In [ ]:
animals.values()

In [ ]:
## You can use .get() method  and a default value to check is a key exists

In [ ]:
if animals.get('e',"NOT FOUND") == "NOT FOUND":
    print("Not found")

In [ ]:
animals.keys()

In [ ]:
animals.get('b','NOT FOUND')

In [ ]:
len(animals)

In [ ]:
wild = {
    'ocean': ['Ocra','Dolphins','Walrus','Whales','Sharks'],
    'lake' : ['Tilapia','Salmon','Nile Pearch'],
    'rivers': ['Tuna'],
    'land': ['bear','lion'],
}
wild

In [ ]:
wild['air'] = ['eagle']

In [ ]:
wild

In [ ]:
wild['air'].append('sea guls')

In [ ]:
wild

#### Default Dict

In [ ]:
from collections import defaultdict

In [ ]:
land = defaultdict(list)

In [ ]:
land

In [ ]:
land['park'].append('Tree')

In [ ]:
land['pond'].append(['duck','goose'])

In [ ]:
dict(land)

In [ ]:
land

### List comprehensions

In [ ]:
myList = [1,2,3,5,6,7,8,9,10]
[item*item*item for item in myList]

In [ ]:
### List comprehensions can be used as filters

In [165]:
myList = list(range(100))
filteredList = [item for item in myList if item % 10 == 0]
filteredList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [163]:
even_numbers = [item for item in myList if item % 2 == 0]
odd_numbers = [item for item in myList if item % 2 != 0]

In [166]:
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [168]:
print(even_numbers)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

#### List comprehensions can be used with functions

In [171]:
myString = 'My name is Billy. I live in Nairobi'
myString.split('.')

['My name is Billy', ' I live in Nairobi']

In [172]:
myString.split()

['My', 'name', 'is', 'Billy.', 'I', 'live', 'in', 'Nairobi']

In [173]:
def cleanWord(word):
    return word.replace('.','').lower()

[cleanWord(word) for word in myString.split()]

['my', 'name', 'is', 'billy', 'i', 'live', 'in', 'nairobi']

- We can also combine this with a conditional statement

In [181]:
[cleanWord(word) for word in myString.split() if len(cleanWord(word)) < 6]

['my', 'name', 'is', 'billy', 'i', 'live', 'in']

#### Nested list comprehensions

In [183]:
[[cleanWord(word) for word in sentence.split()] for sentence in myString.split('.')]

[['my', 'name', 'is', 'billy'], ['i', 'live', 'in', 'nairobi']]

In [184]:
[x + y for x in 'abc' for y in 'lmn']

['al', 'am', 'an', 'bl', 'bm', 'bn', 'cl', 'cm', 'cn']

In [185]:
[x for x in range(5) if x % 2 ==0 ]

[0, 2, 4]

In [186]:
[x + y for x in [0,1,2] for y in [100,120, 765]]

[100, 120, 765, 101, 121, 766, 102, 122, 767]

#### Dictionary comprehensions

In [188]:
animalList = [('a','aadvark'),('b', 'bear'),('c','cat'),('d','dog')]
animals_ = { item[0]: item[1] for item in animalList }
animals_

{'a': 'aadvark', 'b': 'bear', 'c': 'cat', 'd': 'dog'}

In [ ]:
## There is a more elegant way of writing this piece of code:

In [190]:
animals_ = {key: value for key, value in animalList}
animals_

{'a': 'aadvark', 'b': 'bear', 'c': 'cat', 'd': 'dog'}

In [208]:
players = [
            ('Barca','Messi','Suarez','Neymar'),
           ('Real Madrid','CR7','Bale','Vinicius','Jude')
          ]
teams = { team: players[:]  for team, *players  in players }
teams

{'Barca': ['Messi', 'Suarez', 'Neymar'],
 'Real Madrid': ['CR7', 'Bale', 'Vinicius', 'Jude']}

In [206]:
teams = { team : tuple(players[:]) for team, *players in players }
teams

{'Barca': ('Messi', 'Suarez', 'Neymar'),
 'Real Madrid': ('CR7', 'Bale', 'Vinicius')}

In [211]:
"s" * 9 + "p"*8

'ssssssssspppppppp'

### Challenge

Write a function called "encodeString" that will encode a string like "AAAABBBCC" as a list of tuples
i.e [("A",4),("B",3),("C",2)] meaning that the string has 4 A's, 3B's and 2C's

In [ ]:
def encodeString(stringVal):
    encodedList = []
    prevChar = stringVal[0]
    count = 0
    for char in stringVal:
        if prevChar != char:

In [214]:
K = "AAAATTGG"

In [216]:
K[0]

'A'

## Functions

In [ ]:
# Function with one argument and a return value
def aFunction(anArg):
    return anArg + 1

aFunction(5)

In [ ]:
# Different ways of calling a function with a keyword argument
def aFunction(anArg, optionalArg=1):
    return anArg + optionalArg

print(aFunction(5))
print(aFunction(5, 4))
print(aFunction(5, optionalArg=4))

## Classes

In [ ]:
# A simple class with one attribute and one method
class ParentClass:
    def __init__(self, val):
        self.val = val
        
    def printVal(self):
        print(self.val)
        

classInstance = ParentClass('Value for the class attribute "val"')
classInstance.printVal()

In [ ]:
# Extend the parent class to create a child class        
class ChildClass(parentClass):
    
    def printVal(self):
        print('Child class! {}'.format(self.val))
        
childInstance = ChildClass('Value for the class attribute "val"')
childInstance.printVal()

In [ ]:
# Overriding the parent class constructor
class AnotherChildClass(parentClass):
    def __init__(self):
        super().__init__('A default value')
        
anotherChildInstance = AnotherChildClass()
anotherChildInstance.printVal()

## File Handling

In [ ]:
# Open a file for reading
with open('09_01_file.txt', 'r') as f:
    data = f.readlines()
print(data)

In [ ]:
with open('test.txt', 'w') as f:
    f.write('Writing a new line\n')

In [ ]:
with open('test.txt', 'a') as f:
    f.write('Adding a new line to the last one\n')