# Learning Pandas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [2]:
pd.set_option("display.max_rows",5)

The two core objects in Pandas are : DataFrame and Series

## Introduction

### DataFrame

In [3]:
pd.DataFrame({'Yes': [50, 21], "No": [90,78]})

   Yes  No
0   50  90
1   21  78

In [5]:
pd.DataFrame({'Bob':['I LIKED IT HERE','Nice location','NDVI'],
              'Sue': ['Home','Homer','MSAVI']})

               Bob    Sue
0  I LIKED IT HERE   Home
1    Nice location  Homer
2             NDVI  MSAVI

- We are useing the pd.DataFrame() constructor to create DataFrame objects

- The syntax for declearing one is creating a dictionary whose keys are the column names (Bob, Sue) and the values are
in the list.

- The DataFrame just uses an ascending count from 0 for the row labels. Sometimes we want to assign these labels ourselves.

- The list of row labels used in a DataFrame is known as an index. We can assign values to it using an **index** parameter in the constructor.

In [7]:
pd.DataFrame({'Bob': [10,90,989], 
             'Sue': [99,88,77]}, index = ['Product A', 'Product B','Product C'])

           Bob  Sue
Product A   10   99
Product B   90   88
Product C  989   77

### Series

- Series is a sequence of data values. If a DataFrame is a table, Series is a list.

In [8]:
pd.Series([9,90,7.9,0.987])

0     9.000
1    90.000
2     7.900
3     0.987
dtype: float64

- A series is, in essence a single column of a DataFrame.

- We can assign row labels to the series the same way as before, using an **index** parameter. However, a Series object 
does not have a column name, it only has one overall **name**.

In [9]:
pd.Series([0.45, 0.55, 0.68, 0.76], index = ['NDVI_1','NDVI_2','NDVI_3','NDVI_4'], name = 'NDVI')

NDVI_1    0.45
NDVI_2    0.55
NDVI_3    0.68
NDVI_4    0.76
Name: NDVI, dtype: float64

- The Series object and DataFrame object are **glued** together. It is helpful to think of a DataFrame being a bunch of Series
objects "Glued" together.

### Reading Data Files

In [11]:
wine_reviews = pd.read_csv("Data/winemag-data-130k-v2.csv",index_col = 0)

In [12]:
wine_reviews.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [13]:
wine_reviews.shape

(129971, 13)

## Indexing, Selecting And Assigning

#### --- Native Accessors

Native Python objects provide a good way of indexing data, which Pandas carries over to start with.

In [14]:
reviews = wine_reviews

In [15]:
reviews.country

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [16]:
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [17]:
reviews['country'][0]

'Italy'

#### --- Indexing in Pandas

Pandas has its own accessor operators, the **loc** and **iloc**. They are the ones we want to use for more advanced operatinons.

##### Index-based selection

Pandas indexing works on one of two paradigms. The first is **index-based selection**: selecting data based on its numerical position
    in the data. **iloc** follows this paradigm.

In [45]:
reviews.iloc[0]

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [31]:
reviews.iloc[0:9, 0:3]

     country                                        description   designation
0      Italy  Aromas include tropical fruit, broom, brimston...  Vulkà Bianco
1   Portugal  This is ripe and fruity, a wine that is smooth...      Avidagos
..       ...                                                ...           ...
7     France  This dry and restrained wine offers spice in p...           NaN
8    Germany  Savory dried thyme notes accent sunnier flavor...         Shine

[9 rows x 3 columns]

###### -- reviews.iloc[rows, columns]

Both **loc** and **iloc** are row-first, column-second, which is the opposite of native Python which is column-first and row-second.

This means that it's marginally easier to retrieve rows , and marginally harder to retrieve columns.

To get a column  with **iloc** we can do this:

In [32]:
reviews.iloc[:,0:9]

,country,description,designation,points,price,province,region_1,region_2,taster_name
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss
...,...,...,...,...,...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss

The : operator on its own means select "everything". When combined with other selectors, it can be used to indicate 
    a range of values. For example, to select the **country** column from just the first, second, and third row, we would use:

In [46]:
reviews.iloc[:3, 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

Or to select the second and third entries

In [47]:
reviews.iloc[1:3, 0]

1    Portugal
2          US
Name: country, dtype: object

It's also possible to pass a list:

In [48]:
reviews.iloc[[0,1,2], 0]

0       Italy
1    Portugal
2          US
Name: country, dtype: object

Finally, its worth noting that numbers can be used in selection.

This will start counting forwards from the end of the values.

For example, here are the last 5 elements of the dataset:

In [58]:
reviews.iloc[-5:]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

#### Label based selection

The second paradigm for attribute selection is the one followed by the **loc** operator. 
In this paradigm, it's the data index value, not its position, which matters.

For example to get the first entry in reviews, we would:

In [60]:
reviews.loc[0,'country']

'Italy'

In [63]:
reviews.loc[:,['country', 'description','points','taster_twitter_handle']]

,country,description,points,taster_twitter_handle
0,Italy,"Aromas include tropical fruit, broom, brimston...",87,@kerinokeefe
1,Portugal,"This is ripe and fruity, a wine that is smooth...",87,@vossroger
...,...,...,...,...
129969,France,"A dry style of Pinot Gris, this is crisp with ...",90,@vossroger
129970,France,"Big, rich and off-dry, this is powered by inte...",90,@vossroger

- When choosing between **loc** and **iloc**, there is one **gotcha** to keep in mind, which is that the two methods use
slightly different indexing schemes.

- **iloc** uses the standard stdlib scheme, where the first element of the range is included and last one excluded. So 0:10 will select entries 0,1,2,3,4,5,6,7,8,9.
    
- **loc**, meanwhile, indexes exclusively. So 0:10 will select entries 0,......,10

    
This is particularly confusing when the DataFrame index is a simple numerical list e.g 0.....,1000. In this case **df.iloc[0:1000]** will return 1000 entries.
While **df.loc[0:1000]** will return 1001 entries! So to get 1000 entries using loc, you will need to go one step lower and ask for **df.loc[0:999]**

Otherwise the semantics of using **loc** and **iloc** are the same.

### Manipulating the Index

Label-based selection (using loc) derives its power from the labels in the index. Critically, the index we use is not **immutable**. We can manipulate
the index in a way we see fit.

In [ ]:
The set_index() method is used to set indies for the reviews dataframe for example:

In [67]:
df = reviews.set_index("title")

### Conditional selection

In [ ]:
To do interesting things with the data, we need to ask questions based on conditions.

For example, supposed we are interested specifically in better than average wines produces in Italy.

We start by checking if eac wine is Italian or not:

In [82]:
reviews.country == "Italy"

0          True
1         False
          ...
129969    False
129970    False
Name: country, Length: 129971, dtype: bool

In [ ]:
This operation above, produced